NEXT_PUBLIC_API_URL=http://localhost:4444/api/graphql
NEXT_PUBLIC_WS_URL=ws://localhost:4444/api/graphq
NEXT_PUBLIC_IP_API_URL=http://ip-api.com/json/
NEXTAUTH_SECRET=secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DEFAULT_IP=46.98.161.194
BASE_URL=http://localhost:3000